<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des invites</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">


</head>
<body>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">Liste des invites</div>
        <div class="card-body">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">Guest list</h1>
                <div>
                    <a  th:href="@{/add}" class="btn btn-primary ms-2">Ajouter un invité</a>
                </div>
            </div>
            <form method="get" th:action="@{ListInvites}">
                <label>Keyword</label>
                <input type="text" name="keyword">
                <button type="submit" class="btn btn-primary">chercher</button>

            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>CIN</th><th>Nom</th><th>PRENOM</th><th>SEXE</th><th>STATUS</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="p:${listInvites}">
                    <td th:text ="${p.cin}"></td>
                    <td th:text ="${p.nom}"></td>
                    <td th:text ="${p.prenom}"></td>
                    <td th:text ="${p.genre}"></td>
                    <td th:text ="${p.statut}"></td>

                    <td>
                        <div class="float-end text-nowrap">
                            <a
                                    th:href="@{/edit/{id}(id=${p.cin})}"
                                    th:text="Edit" class="btn btn-sm btn-primary"/>
                            <a th:href="@{/{id}(id=${p.cin})}"
                               th:text="Detail"
                               class="btn btn-sm btn-secondary"/>

                            <form
                                    th:action="@{/delete/{id}(id=${p.cin})}"
                                    method="post" class="js-submit-confirm d-inline">
                                <button type="submit" class="btn btn-sm btn-danger" />
                                Delete
                                </button>
                            </form>
                        </div>
                    </td>


                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"
                       th:href="@{ListInvites(page=${status.index})}"
                    ></a>

                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>